#test-info {
    text-align: right;
    height: 100px;
}

#choices .list-group-item {
    margin-bottom: 10px;
}

#drop-zone {
    margin: 10px;
    text-align: center;
    color: #BBB;
}

#list {
    width: 100%;
    margin-right: 10px;
}

.example {
    border: 1px solid #CCC;
    text-align: center;
}

.correct {
    font-weight: bold;
    color: green;
}

.incorrect {
    font-weight: bold;
    color: red;
}

.settings {
    height: 100px;
    border: 2px dashed #BBB;
    padding: 5px;
}

.test-start {
    bottom: 5px;
    position: absolute;
}