<html>
<head>
    <meta charset="utf-8" />
    <title>WordNote - Objective</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/main.css" rel="stylesheet" />
    <link href="css/jquery-ui.min.css" rel="stylesheet" />
    <link href="css/jquery-ui.structure.min.css" rel="stylesheet" />
    <link href="css/jquery-ui.theme.min.css" rel="stylesheet" />
</head>
<body>
    <div id="problemArea" class="container">
        <h1 id="word"></h1>
        <div id="test-info"></div>
        <form class="form-inline">
            <div class="form-group">
                <input class="form-control" id="answer" type="text" />
                <button type="submit" class="btn btn-default" id="checkAnswer">Check</button>
            </div>
        </form>
    </div>
    <script src="js/jquery-2.1.1.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/objective.js"></script>
</body>
</html>