<html>
<head>
    <meta charset="utf-8" />
    <title>WordNote - Subjective</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/main.css" rel="stylesheet" />
    <link href="css/jquery-ui.min.css" rel="stylesheet" />
    <link href="css/jquery-ui.structure.min.css" rel="stylesheet" />
    <link href="css/jquery-ui.theme.min.css" rel="stylesheet" />
</head>
<body>
    <div id="problemArea" class="container">
        <h1 id="word"></h1>
        <div id="test-info"></div>
        <div class="list-group" id="choices"></div>
    </div>
    <script src="js/jquery-2.1.1.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/subjective.js"></script>
</body>
</html>